.logo {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* controla tamanho dos ícones */
.logo span,
nav a {
    font-size: 18px;
}

/* se estiveres a usar emojis grandes no hero */
.hero h1 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
}
